.navbaar{
    border-bottom: 4px solid #516572;
    background-color: #292d3d;
    color: white;
}

.navbar-active{
    text-shadow: 3px 3px 5px rgb(255, 255, 255);
    letter-spacing: 3px;
}

.form-labels{
    color: white;
}